body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: e3f2fd;
    color: #fff;
}

.container-lg {
    border-radius: 20px;;
    background-color: #000000;
    padding: 40px 35px;
}

.container-lg header {
    color: #b2b2b2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header h2 {
    font-size: 1.6rem;
}

header .column {
    display: flex;
    align-items: center;
}

header .column span {
    font-weight: 500;
    margin-right: 15px;
    font-size: 1.2rem;
}

.volume-slider input {
    align-content: #fff;
}

.keys-check input {
    width: 60px;
    height: 30px;
    appearance: none;
    border-radius: 30px;
    background-color: #4b4b4b;
    cursor: pointer;
    position: relative;
}

.keys-check input::before{
    content: "";
    height: 20px;
    width: 20px;
    background-color: #8c8c8c;
    top: 50%;
    left: .3rem;
    border-radius: inherit;
    position: absolute;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.keys-check input:checked::before{
    left: 2.1rem;
    background-color: #FFF;

}

.piano-keys{
    display: flex;
    margin-top: 40px;
}

.piano-keys .key {
    color: #a2a2a2;
    cursor: pointer;
    list-style: none;
    user-select: none;
    position: relative;
    text-transform: uppercase;
}

.piano-keys .white {
    width: 70px;
    height: 230px;
    border: 1px solid #000;
    border-radius: 8px;
    background: linear-gradient(#ffffff 96%, #eeeeee 4%);
}

.piano-keys .black {
    width: 44px;
    height: 140px;
    z-index: 2;
    margin: 0 -22px 0 -22px;
    border: 1px solid #000;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(#000, #3f3f3f);
}

.piano-keys span {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 1.13rem;
}

.piano-keys .white.active {
    box-shadow: inset -5px 5px 20px rgba(0,0,0,0.2);
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
} 

.piano-keys .black.active {
    box-shadow: inset -5px 5px 10px rgba(0,0,0, 0.1);
    background: linear-gradient(#000, #333);
} 

.piano-keys .key.hide span{
    display: none;
}

.debugger {
    border: 1px solid red;
}


@media (max-width: 700px) {
  header h2 {
    font-size: 1.2rem;
  }
  header .column span {
    font-weight: 500;
    margin-right: 15px;
    font-size: 1rem;
}
  .piano-keys {
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }

  .piano-keys .white {
    width: 50px;
    height: 180px;
  }

  .piano-keys .black {
    width: 30px;
    height: 100px;
    margin: 0 -15px 0 -15px;
  }
}

/* Estilos existentes */

@media (max-width: 530px) {
  header h2 {
    font-size: 1rem; 
  }

  header .column span {
    display: none;;
    }

  .piano-keys {
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }

  .piano-keys .white {
    width: 40px; /* Reduz ainda mais a largura das teclas brancas */
    height: 150px; /* Reduz ainda mais a altura das teclas brancas */
  }

  .piano-keys .black {
    width: 25px; /* Reduz ainda mais a largura das teclas pretas */
    height: 80px; /* Reduz ainda mais a altura das teclas pretas */
    margin: 0 -12.5px 0 -12.5px; /* Ajusta a margem das teclas pretas */
  }

  .piano-keys span {
    font-size: 0.9rem; /* Reduz o tamanho da fonte das letras nas teclas */
    bottom: 10px; /* Ajusta a posição das letras nas teclas */
  }
}